#citas_cuerpo
{
	width: 950px;
	height: 600px;
}

#citas_esquerda
{
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 248px;
	height: 560px;
	border-right: 2px solid #075E55;
}

#citas_dereita
{
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 680px;
	height: 420px;
	overflow: auto;
}

#citas_paginado
{
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	width: 680px;
	height: 30px;
}
