#pdetalle_cuerpo
{
	width: 950px;
	height: 600px;
}
#pdetalle_esquerda
{
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 248px;
	height: 560px;
	border-right: 2px solid #075E55;
}
#pdetalle_dereita
{
	float:left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 680px;
	height: 560px;
	overflow: auto;
}

#pdetalle_imagen
{
	float: left;
	height: 160px;
	width: 160px;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 4px 4px #e0e0e0;
}
#pdetalle_nombre
{
	position:relative;
	float:left;
	margin-top:148px;
	height: 25px;
	width: 450px;
	color: #075E55;
	font-size: 25px;
	font-weight: bold;
	margin-left: 25px;
}
#pdetalle_paciente
{
	position:relative;
	float:left;
	margin-top:20px;
	height: 300px;
	width: 600px;
	margin-left: 10px;
}
.etiquetas
{
	color: #075E55;
	font-size: 20px;
	font-weight: bold;
}
.campos
{
	color: #616161;
	font-size: 18px;
	font-weight: bold;
}
