{% extends "clinica/plantilla_clientes.html" %}
{% block titulo %}
Citas del Paciente
{% endblock %}
{% block lista %}
	<div class="col-md-9" >
		{% if object_list %}
			<div class="list-group">
				{% for citas  in object_list %}
					{% if citas.sala.id  = 1 %}
						<spam class="list-group-item active"><strong>{{ citas.fecha | date:"D j  F  Y H:i" }}</strong></spam>
					{% else %}
						<spam class="list-group-item list-group-item-danger"><strong>{{ citas.fecha | date:"D j  F  Y H:i" }}</strong></spam>
					{% endif %}
					<spam class="list-group-item"><smal>{{ citas.observaciones }}</smal></spam>
					<spam class="list-group-item"><smal>{{ citas.sala.id  }}</smal></spam>
			        {% endfor %}
			</div>
	        {% else %}
	            <p>No hay citas.</p>
	  	{% endif %}
</div>
{% endblock lista %}
