{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/citas.css'   %}"   />
{% endblock %}
{% block titulo %}
Citas
{% endblock %}
{% block content %}
<div id="citas_cuerpo">
	<div id="citas_esquerda">
			<div id="citas_esquerda_foto">
				{% if cliente.fotografia %}
					<img src="{{ cliente.fotografia.url }}" width="150" height="150" >
				{% else %}
					<img src="/media/imagenes/user.jpg" width="150" height="150">
				{% endif %}
			</div>
		<center>
			<spam class="rotulo">{{cliente.nombre | capfirst}} {{cliente.apellidos | capfirst}}</spam>
			<br />
    	<spam class="rotulo">{{cliente.telefono}} --  {{cliente.telefono2}}</spam>
	  </center>
	<br />
	</div>
	<div id="citas_dereita">
    {% if object_list %}

        {% for citas  in object_list %}

		<spam > {{ citas.cliente }} </spam>
		<br />
		<spam > {{ citas.fecha | date:"SHORT_DATE_FORMAT" }} </spam>
                <br />
		<spam > {{ citas.observaciones }} </spam>
		<hr />

        {% endfor %}
        {% else %}
            <p>No hay citas.</p>
    {% endif %}
	</div>
	<div id="citas_paginado">
		<span class="steplinks">
			{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}"><button>Anterior</button></a>
			{% endif %}
			<span class="current">
				Pagina {{ page_obj.number }} de {{ paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}"><button>Siguiente</button></a>
			{% endif %}
		</span>
	</div>
</div>

{% endblock %}
