{% extends "clinica/plantilla_clientes.html" %}
{% block titulo %}
Citas del Paciente
{% endblock %}
{% block lista %}
	<div class="col-md-9" >
		{% if object_list %}
			<div class="list-group">
				{% for citas  in object_list %}
					<spam class="list-group-item" style="background-color:{{citas.sala.color}};"  ><strong>{{ citas.fecha | date:"D j  F  Y H:i" }}<small>-- {{citas.sala}}</small></strong></spam>
					<spam class="list-group-item"><smal>{{ citas.observaciones }}</smal></spam>
			  {% endfor %}
			</div>
	        {% else %}
	            <p>No hay citas.</p>
	  	{% endif %}
</div>
{% endblock lista %}
