<html>
{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/clientes_form.css'   %}"   />
{% endblock %}

<body>
{% block titulo %}
Agregar cliente
{% endblock %}
{% block content %}
<div id="fclientes_cuerpo">
    {% if form.errors %}
        <p style="color: red;">
            Por favor corrige lo siguiente:
        </p>
    {% endif %}
    <div id="box_cliente">
    <table border="0">
    <form action="" method="post">{% csrf_token %}
        <tr>
        <div class="field">
            {{ form.nombre.errors }}
            <td>
              <label for="id_nombre" class="rotulo">Nombre:</label>
            </td>
            <td>
              {{ form.nombre }}
            </td>
        </div>
        </tr>
        <tr>
        <div class="field">
            {{ form.apellidos.errors }}
            <td>
              <label for="id_apellidos" class="rotulo">Apellidos:</label>
            </td>
            <td>
              {{ form.apellidos }}
            </td>
        </div>
        </tr>
        <tr>
        <div class="field">
            {{ form.email.errors }}
            <td>
              <label for="id_telefono" class="rotulo">Telefono:</label>
            </td>
            <td>
              {{ form.telefono }}
            </td>
        </div>
        </tr>
        <tr>
        <div class="field">
            {{ form.email.errors }}
            <td>
              <label for="id_telefono2" class="rotulo">Telefono 2:</label>
            </td>
            <td>
              {{ form.telefono2 }}
            </td>
        </div>
       </tr>
       <tr>
        <td colspan="2" align="center">
        <input type="submit" value="Enviar">
        </td>
      </tr>
    </form>
  </table>
  </div>
</div>
{% endblock %}
</body>

</html>
