{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/pacientes_detalle.css'   %}"   />
{% endblock %}
{% block titulo %}
Detalle del cliente
{% endblock %}
{% block content %}
<row>
	<div class="col-md-3">
		<a href="/paciente_borrar/{{ clientes.id }}/" class="btn btn-danger btn-lg btn-block">Borrar</a>
		<a href="/citas/{{ clientes.id }}/" class="btn btn-primary btn-lg btn-block">Citas del paciente</a>
		<a href="/historial/{{ clientes.id }}/" class="btn btn-primary btn-lg btn-block">Historial del paciente</a>
	</div>
	<div class="col-md-9">
		<div class="thumbnail">
			<br />
			{% if clientes.fotografia %}
				<img src="{{ clientes.fotografia.url }}" class="img-rounded" width="150" height="200" >
			{% else %}
				<img src="/media/imagenes/user.jpg" class="img-rounded">
			{% endif %}
			<br/><br />
			<div class="panel panel-default">
				<div class="panel-heading">
					Datos del Cliente
				</div>
				<div if ="panel-body">
						<table class="table table-striped">
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Telefono</th>
						<th>Telefono 2</th>
						<th>Antigüedad</td>
						<tr>
							<td>{{ clientes.nombre | capfirst}}</td>
							<td>{{ clientes.apellidos | capfirst}}</td>
							<td>{{ clientes.telefono }}</td>
							<td>{{ clientes.telefono2 }}</td>
							<td>{{ clientes.antiguedad | date:"SHORT_DATE_FORMAT" }}</td>
						</tr>
					  </table>
			  </div>
			</div>
		</div>
	</div>
</row>







<!--


			{% if clientes.fotografia %}
				<img src="{{ clientes.fotografia.url }}" width="150" height="150" >
				<br />
			{% else %}
				<img src="/media/imagenes/user.jpg">
				<br />
			{% endif %}
		</div>
		<div id="pdetalle_nombre">
			<spam>{{ clientes.nombre | capfirst}} {{ clientes.apellidos | capfirst}}</spam>
		</div>
		<div id="pdetalle_paciente">
			<table border ="0">
				<tr>
					<td width="150" class="etiquetas">Nombre :</td>
					<td width="350" class="campos">{{ clientes.nombre | capfirst }}</td>
				</tr>
				<tr>
					<td width="150" class="etiquetas">Apellidos :</td>
					<td width="350" class="campos">{{ clientes.apellidos | capfirst }}</td>
				</tr>
				<tr>
					<td width="150" class="etiquetas">Teléfono 1 :</td>
					<td width="350" class="campos">{{ clientes.telefono }}</td>
				</tr>
				<tr>
					<td width="150" class="etiquetas">Teléfono 2 :</td>
					<td width="350" class="campos">{{ clientes.telefono2 }}</td>
				</tr>
				<tr>
					<td width="150" class="etiquetas">Antigüedad :</td>
					<td width="350" class="campos">{{ clientes.antiguedad | date:"SHORT_DATE_FORMAT" }}</td>
				</tr>
			</table>
		</div>
	</div>
</div> -->
{% endblock %}
