{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<!--<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/pacientes.css'   %}"   />-->
{% endblock %}
{% block titulo %}
Lista de pacientes
{% endblock %}
{% block content %}
<row>
	<div class="col-md-3">
		<a href="/paciente/agregar" class="btn btn-primary btn-lg btn-block">Nuevo</a>
		<a href="/pacientes_buscar" class="btn btn-primary btn-lg btn-block">Buscar</a>
	</div>
	<div class="col-md-9" >
		<div class="panel panel-default">
			<div class="panel-heading">Pacientes</div>
			<div if ="panel-body">
				{% if object_list %}
				<table class="table table-striped">
					<th>fotografia</th>
					<th>nombre</th>
					<th>citas</th>
					<th>Historial</th>
          {% for pacientes  in object_list %}
						<tr>
							<td>
								{% if pacientes.fotografia %}
									<img src="{{ pacientes.fotografia.url }}"  class="img-circle" width="40" height="40" >
								{% else %}
									<img src="/media/imagenes/user.jpg"  class="img-circle" width="40" height="40">
								{% endif %}
							</td>
							<td><a href="/pacientes_detalle/{{pacientes.id}}/"><spam>{{ pacientes.apellidos | capfirst }} , {{ pacientes.nombre | capfirst }}</spam></a></td>
							<td><a href="/citas/{{pacientes.id}}/" class="btn btn-primary">Citas<a></td>
							<td><a href="/historial/{{pacientes.id}}/" class="btn btn-primary">Historial<a></td>
					{% endfor %}
				  </table>
		    {% else %}
        	<p class="text-warning">No hay clientes registrados.</p>
        {% endif %}
			</div>
		</div>
	</div>
</row>
<row>
	<div class="col-md-9 col-md-offset-3">
		<nav>
			<ul class="pager">
				{% if page_obj.has_previous %}
				<li class="previus"><a href="?page={{ page_obj.previous_page_number }}"><spam aria-hideen="true">&larr;</spam>Anterior</a></li>
				{%endif%}
				<li> Pagina {{ page_obj.number }} de {{ paginator.num_pages }}.</li>
				{% if page_obj.has_next %}
				<li class="next"><a href="?page={{ page_obj.next_page_number }}">Siguiente<spam aria-hideen="true">&rarr;</spam></a></li>
				{%endif%}
			</ul>
		</nav>
	</div>
</row>

{% endblock %}
