{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/pacientes.css'   %}"   />
{% endblock %}

{% block content %}
<div id="pacientes_cuerpo">
		<div id="pacientes_esquerda">
		<a href="/paciente_nuevo"><button>Nuevo</button></a>
		</div>
		<div id="pacientes_dereita">
    {% if object_list %} 
        <ul> 
        {% for pacientes  in object_list %} 
            <li><a href="{% url 'pacientes_detalle' pacientes.id %}"> 
                 {{ pacientes.nombre | capfirst }}</a></li> 
		 <spam> {{ pacientes.apellidos | capfirst }}</spam>
		 --
		 <spam>{{ pacientes.telefono }}</spam>
		 <hr />
        {% endfor %} 
        </ul> 
        {% else %} 
            <p>No hay clientes registrados.</p> 
    {% endif %} 
   </div>
</div>
{% endblock %}
