{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/historial.css'   %}"   />
{% endblock %}

{% block content %}
<div id="historial_cuerpo">
	<div id="historial_centro">
	   {% if object_list %}
	      {% for clientes  in object_list %}
	  			<div id="box_cliente">
					<div id="avatar_cliente">
						{% if clientes.fotografia %}
							<img src="{{ clientes.fotografia.url }}" width="40" height="40" >
						{% else %}
							<img src="/media/imagenes/user.jpg" width="40" height="40">
						{% endif %}
					</div>
					<div id="nombre_cliente">
						<a href="/pacientes_detalle/{{clientes.id}}/"><spam>{{ clientes.apellidos | capfirst }} , {{ clientes.nombre | capfirst }}</spam></a>
					</div>
				</div>
         {% endfor %}
      {% else %}
      	<p>No hay clientes registrados.</p>
    	{% endif %}
	</div>
	<div id="historial_paginado">
		<div class="pagination">
			<span class="steplinks">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}"><button>Anterior</button></a>	
				{% endif %}
				<span class="current">
					Pagina {{ page_obj.number }} de {{ paginator.num_pages }}.	
				</span>
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}"><button>Siguiente</button></a>
				{% endif %}
			</span>
		</div>
	</div>
</div>

{% endblock %}
