{% extends "clinica/plantilla_clientes.html" %}
{% block titulo %}
Historial del Paciente
{% endblock %}
{% block botones %}
<a href="/historial_agregar/{{ cliente.id }}" class="btn btn-primary btn-lg btn-block">Nueva Historia</a>
{% endblock %}
{% block lista %}
	<div class="col-md-9" >
		{% if object_list %}
			<div class="list-group">
				{% for historial  in object_list %}
			<a href="/historial_editar/{{historial.id}}/" class="list-group-item active"><span class="glyphicon glyphicon-edit text-right"></span><strong> {{ historial.fecha | date:"D j  F  Y H:i" }}</strong></a>
					<spam class="list-group-item"><smal>{{ historial.comentario }}</smal></spam>
					{% if historial.fotografia %}
						<img src="{{ historial.fotografia.url }}" width="150" height="150" class="list-group-item" >
					{% endif %}
					<br />
					<a href="/historial_borrar/{{ historial.id }}/" class="btn btn-danger">Borrar</a>
					<br /><br />
				{% endfor %}
			</div>
		{% else %}
			<p>No hay historiales.</p>
		{% endif %}
	</div>
{% endblock lista %}
