{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/historial.css'   %}"   />
{% endblock %}
{% block titulo %}
Historial por paciente
{% endblock %}
{% block content %}
<div id="historial_cuerpo">
	<div id="historial_esquerda">
		<div id="historial_esquerda_foto">
			{% if cliente.fotografia %}
				<img src="{{ cliente.fotografia.url }}" width="150" height="150" >
			{% else %}
				<img src="/media/imagenes/user.jpg" width="150" height="150">
			{% endif %}
		</div>
		<center>
		  <spam class="rotulo">{{cliente.nombre | capfirst}} {{cliente.apellidos | capfirst}}</spam>
			<br />
      <spam class="rotulo">{{cliente.telefono}} --  {{cliente.telefono2}}</spam>
			<br/>
		</center>
	</div>
	<div id="historial_dereita">
    {% if object_list %}
    	{% for historial  in object_list %}
				<spam > {{ historial.cliente }} </spam>
				<br />
				<spam > {{ historial.fecha | date:"H:i" }} </spam>
        <br />
				<spam > {{ historial.comentario }} </spam>
				<br />
				{% if historial.fotografia %}
					<img src="{{ historial.fotografia.url }}" width="150" height="150" >
				{% endif %}
				<hr />

      {% endfor %}
    {% else %}
    	<p>No hay historiales.</p>
    {% endif %}
	</div>

</div>

{% endblock %}
