{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<!-- <link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/index.css'   %}"   />-->
{% endblock %}
{% block titulo %} Inicio {% endblock %}
{% block content %}
<row>
	<div class="col-md-3">
		<a href="/paciente/agregar" class="btn btn-primary btn-lg btn-block">Nuevo Paciente</a>
		<a href="/pacientes" class="btn btn-primary btn-lg btn-block">Pacientes</a>
    </div>
    <div class="col-md-9" >
	    <div class="panel panel-default">
 		 	<div class="panel-heading">Citas de Hoy</div>
         <div class="panel-body">
         	{% if las_citas %}
         		<table class="table table-striped">
                  <th>#</th>
                  <th>hora</th>
                  <th>paciente</th>
                  <th>telefono</th>
                  <th>observaciones</th>
                  <th>Historial</th>
                  <th>Citas</th>
                  {% for citas in las_citas %}
                  	<tr>
                  		<td><img src="/media/imagenes/clock.png" width="30" height="30"></td>
								<td>{{ citas.fecha | date:"H:i" }}</td>
								<td>{{ citas.cliente | capfirst }} {{ citas.cliente.apellidos | capfirst}}</td>
								<td>{{ citas.cliente.telefono }}</td>
								<td>{{ citas.observaciones }}</td>
                        <td><a href="#" class="btn btn-primary">Historial</a>
                    		<td><a href="#" class="btn btn-primary">Citas</a>
                     </tr>
                  {% endfor %}
                  </table>
				{% else %}
					<p class="text-warning">Sin citas</p>
				{% endif %}
         </div>
         </div>
       </div>
    </div>
</row>
{% endblock %}
