{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/index.css'   %}"   />
{% endblock %}

{% block content %}
<div id="index_cuerpo">
		<div id="index_esquerda">
			<a href="#"><button class="acceso_rapido">Nueva Cita</button></a>
			<br /><br />
			<a href="#"><button class="acceso_rapido">Nuevo cliente</button></a>
			<br /><br />
			<a href="#"><button class="acceso_rapido">Historial</button></a>
		</div>
		<div id="index_dereita">
		{% if las_citas %}
			{% for citas in las_citas %}
				<div id="box_cita">
					<div id="reloj_cita">
						<img src="/media/imagenes/clock.png">
					</div>
					<div id="hora_cita">
						<spam>{{ citas.fecha | date:"H:i"}}</spam>
					</div>
					<spam class="paciente">{{ citas.cliente | capfirst }},{{ citas.cliente.apellidos | capfirst}} -- ( {{citas.cliente.telefono}} ) -- ( {{citas.cliente.telefono2}} ) </spam>
					<br />
					<spam>Notas : {{ citas.observaciones }}</spam>
				</div>
			{% endfor %}
		{% else %}
			<p>SIN  CITAS</p>
		{% endif %}
		</div>
</div>
{% endblock %}
