<html>
{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<!--<link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/clientes_form.css'   %}"   />-->
{% endblock %}

<body>
{% block titulo %}
Agregar/Modificar Salas
{% endblock %}
{% block content %}
<row>
  <div class="col-md-6 col-md-offset-3">
    {% if form.errors %}
      <p style="color: red;">
        Por favor corrige lo siguiente:
      </p>
    {% endif %}
    <br /><br />
    <form action="" role="form" method="post">{% csrf_token %}
      <div class="form-group">
        {{ form.sala.errors }}
        <label for="id_sala" class="text-primary" >Sala</label>
        <input type="text" class="form-control" placeholder="Introduce el nombre" id={{ form.sala }}
      </div>
      <div class="form-group">
        {{ form.color.errors }}
        <label for="id_color" class="text-primary">Color</label>
        <input type="color" class="form-control" placeholder="Escoge el color" id={{ form.color }}
      </div>
      <div class="form-group">
        {{ form.observaciones.errors }}
        <label for="id_observaciones" class="text-primary">Observaciones</label>
        <textarea class="form-control" placeholder="Observaciones" id={{ form.observaciones }}
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br /<br />
  </div>
</row>
{% endblock %}
</body>

</html>
